@use "../../assets/sass/_variables.scss" as *;

.card {
  border: 0.1em solid $color-primary;
  display: flex;
  align-items: center;
  padding: 1em;
  background-color: #eee;

  &__image {
    max-height: 15em;
    width: 4em;
    padding: 1em;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__header {
    margin: 0;
    margin-bottom: 0.5em;
  }

  &__desc {
    font-size: 0.7em;
    margin: 0;
  }
}
