@use "../../assets/sass/_variables.scss" as *;

.nav {
  background-color: $color-primary;
  display: flex;
  flex-direction: column;
  gap: 4em;
  align-items: left;
  padding: 1em 1em;
  color: $color-black;

  &__item {
    height: 30px;
  }
}

@media screen and (min-width: 992px) {
  .nav {
    grid-column: 1 / -1;
  }
}
